<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.mall.model.entity.Comment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="goodsid" column="goodsId" jdbcType="INTEGER"/>
            <result property="specname" column="specName" jdbcType="VARCHAR"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="commenttime" column="commentTime" jdbcType="TIMESTAMP"/>
            <result property="userid" column="userId" jdbcType="INTEGER"/>
            <result property="score" column="score" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goodsId,specName,
        comment,commentTime,userId,
        score
    </sql>
</mapper>
