<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.mall.model.entity.Message">
            <id property="id" column="id" />
            <result property="createTime" column="create_time" />
            <result property="replyTime" column="reply_time" />
            <result property="userId" column="user_id" />
            <result property="goodsId" column="goods_id" />
            <result property="content" column="content" />
            <result property="state" column="state" />
            <result property="replyContent" column="reply_content" />
            <result property="createtime" column="createtime" />
            <result property="replytime" column="replytime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,reply_time,user_id,goods_id,content,
        state,reply_content,createtime,replytime
    </sql>
</mapper>
